@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

a {
    color: #ffffff;
    transition: 0.3s;
}

a:hover {
    color: #cacaca;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: calc(100vh - 120px);
}
